# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated documentation files
doc/

# Generated binary files
bin/

# Clion configuration
.idea/

# Library directories containing third party distributions.
ExploreOpenCLTest/lib/
